# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Run ProxyCollector

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  run:

    runs-on: ubuntu-latest

    env:
      GithubApiToken: ${{ secrets.GITHUB_TOKEN }}
      GithubUser: ${{ GITHUB_REPOSITORY_OWNER }}
      GithubRepo: ${{ GITHUB_REPOSITORY_NAME }}
      Timeout: 5000
      MaxThreadCount: 96
      SingboxPath: sing-box
      V2rayFormatResultPath: sub/proxies.txt
      SingboxFormatResultPath: sub/singbox.json
      Sources: |
        https://cdn.jsdelivr.net/gh/azadiazinjamigzare/SingBox@main/Sub
        https://api.yebekhe.link/shervin/
        https://clashnode.com/wp-content/uploads/2024/02/20240228.txt
        https://github.com/LonUp/NodeList/raw/main/V2RAY/Latest_base64.txt
        https://github.com/MrMohebi/xray-proxy-grabber-telegram/raw/master/collected-proxies/row-url/all.txt
        https://github.com/theGreatPeter/v2rayNodes/raw/main/nodes.txt
        https://nodefree.org/dy/2024/02/20240228.txt
        https://raw.githubusercontent.com/245237866/v2rayn/main/everydaynode
        https://raw.githubusercontent.com/52bp/52bp.github.io/master/freesite.html
        https://raw.githubusercontent.com/AzadNetCH/Clash/main/AzadNet_iOS.txt
        https://raw.githubusercontent.com/Barabama/FreeNodes/master/nodes/merged.txt
        https://raw.githubusercontent.com/Creativveb/v2configs/main/updated
        https://raw.githubusercontent.com/Flik6/getNode/main/v2ray.txt
        https://raw.githubusercontent.com/GreenFishStudio/GreenFish/master/Subscription/GreenFishYYDS
        https://raw.githubusercontent.com/Jason05211211/Freerocket/main/freessr
        https://raw.githubusercontent.com/Jia-Pingwa/free-v2ray-merge/main/output.txt
        https://raw.githubusercontent.com/Jsnzkpg/Jsnzkpg/Jsnzkpg/Jsnzkpg
        https://raw.githubusercontent.com/Kwinshadow/TelegramV2rayCollector/main/sublinks/mix.txt
        https://raw.githubusercontent.com/LalatinaHub/Mineral/master/result/nodes
        https://raw.githubusercontent.com/LayneChai/subscribe/main/README.md
        https://raw.githubusercontent.com/Leon406/SubCrawler/main/sub/share/all3
        https://raw.githubusercontent.com/Leon406/SubCrawler/main/sub/share/all4
        https://raw.githubusercontent.com/Leon406/SubCrawler/main/sub/share/v2
        https://raw.githubusercontent.com/Lewis-1217/FreeNodes/main/bpjzx1
        https://raw.githubusercontent.com/Lewis-1217/FreeNodes/main/bpjzx2
        https://raw.githubusercontent.com/MOnday9907/v2ray/main/v2ray.txt
        https://raw.githubusercontent.com/Mahanfix/v2rayvpn/main/mahanfix
        https://raw.githubusercontent.com/Mohammadgb0078/IRV2ray/main/vless.txt
        https://raw.githubusercontent.com/Mohammadgb0078/IRV2ray/main/vmess.txt
        https://raw.githubusercontent.com/Mr8AHAL/v2ray/main/SERVER.txt
        https://raw.githubusercontent.com/MrMohebi/xray-proxy-grabber-telegram/master/collected-proxies/row-url/actives.txt
        https://raw.githubusercontent.com/MrMohebi/xray-proxy-grabber-telegram/master/collected-proxies/row-url/all.txt
        https://raw.githubusercontent.com/Pawdroid/Free-servers/main/sub
        https://raw.githubusercontent.com/RaymondHarris971/ssrsub/master/9a075bdee5.txt
        https://raw.githubusercontent.com/Strongmiao168/v2ray/main/1203
        https://raw.githubusercontent.com/Surfboardv2ray/Subs/main/Realm
        https://raw.githubusercontent.com/Surfboardv2ray/TGParse/main/splitted/mixed
        https://raw.githubusercontent.com/Tenerome/v2ray/main/vmess.txt
        https://raw.githubusercontent.com/Vauth/node/main/Main
        https://raw.githubusercontent.com/Vauth/node/main/Pro
        https://raw.githubusercontent.com/YasserDivaR/pr0xy/main/ShadowSocks2021.txt
        https://raw.githubusercontent.com/ZY-404/v2ray/main/v2ray.txt
        https://raw.githubusercontent.com/ZywChannel/free/main/sub
        https://raw.githubusercontent.com/a2470982985/getNode/main/v2ray.txt
        https://raw.githubusercontent.com/adiwzx/freenode/main/adispeed.txt
        https://raw.githubusercontent.com/adminaliang/v2ray/main/v2ray
        https://raw.githubusercontent.com/aiboboxx/v2rayfree/main/v2
        https://raw.githubusercontent.com/amirmohammad-mohammad-88/Sub-Reality-Azadi-config/Config/Azadi-Reality-Different
        https://raw.githubusercontent.com/amirmohammad-mohammad-88/Sub-Reality-Azadi-config/Config/Azadi-Reality-Different-Base64
        https://raw.githubusercontent.com/awesome-vpn/awesome-vpn/master/all
        https://raw.githubusercontent.com/baip01/clash/main/clash
        https://raw.githubusercontent.com/baipiao0/baipiao02/main/v2ray
        https://raw.githubusercontent.com/barry-far/V2ray-Configs/main/All_Configs_Sub.txt
        https://raw.githubusercontent.com/budamu/clashconfig/main/v2ray.txt
        https://raw.githubusercontent.com/budamu/clashconfig/main/v2ray2.txt
        https://raw.githubusercontent.com/chfchf0306/jeidian4.18/main/4.18
        https://raw.githubusercontent.com/chongdong1230/dxz/main/clash
        https://raw.githubusercontent.com/codingbox/Free-Node-Merge/main/node.txt
        https://raw.githubusercontent.com/dalazhi/v2ray/main/v2ray%E8%AE%A2%E9%98%85
        https://raw.githubusercontent.com/dalazhi/v2ray/main/v2ray订阅
        https://raw.githubusercontent.com/du5/free/master/sub.list
        https://raw.githubusercontent.com/ermaozi/get_subscribe/main/subscribe/v2ray.txt
        https://raw.githubusercontent.com/ermaozi01/free_clash_vpn/main/subscribe/v2ray.txt
        https://raw.githubusercontent.com/eycorsican/rule-sets/master/kitsunebi_sub
        https://raw.githubusercontent.com/freefq/free/master/v2
        https://raw.githubusercontent.com/gitbigg/permalink/main/subscribe
        https://raw.githubusercontent.com/gtang8/SubCrawler/main/sub/share/all
        https://raw.githubusercontent.com/hkaa0/permalink/e8f97142d083c0f5dac55af7b6531b300f273b4d/proxy/V2ray
        https://raw.githubusercontent.com/hkaa0/permalink/main/proxy/V2ray
        https://raw.githubusercontent.com/hotsymbol/vpnsetting/master/v2rayopen
        https://raw.githubusercontent.com/hsb4657/v2ray/main/lastest.txt
        https://raw.githubusercontent.com/imohammadkhalili/V2RAY/main/Mkhalili
        https://raw.githubusercontent.com/iwxf/free-v2ray/master/index.html
        https://raw.githubusercontent.com/jikelonglie/meskell/main/meskell
        https://raw.githubusercontent.com/jiquanxiang/abc/main/v7
        https://raw.githubusercontent.com/kaoxindalao/v2raycheshi/main/v2raycheshi
        https://raw.githubusercontent.com/learnhard-cn/free_proxy_ss/main/free
        https://raw.githubusercontent.com/learnhard-cn/free_proxy_ss/main/ss/sssub
        https://raw.githubusercontent.com/learnhard-cn/free_proxy_ss/main/ssr/ssrsub
        https://raw.githubusercontent.com/learnhard-cn/free_proxy_ss/main/v2ray/v2raysub
        https://raw.githubusercontent.com/lflflf999/0516/main/BX-JD
        https://raw.githubusercontent.com/lisylva-lee/v2dyku/main/ssr
        https://raw.githubusercontent.com/mahdibland/V2RayAggregator/master/sub/sub_merge.txt
        https://raw.githubusercontent.com/mahdibland/get_v2/main/pub/ircp
        https://raw.githubusercontent.com/mfuu/v2ray/master/merge/merge.txt
        https://raw.githubusercontent.com/mfuu/v2ray/master/v2ray
        https://raw.githubusercontent.com/mheidari98/.proxy/main/all
        https://raw.githubusercontent.com/nasheep/FreeNode/main/clash/PlayLab
        https://raw.githubusercontent.com/peasoft/NoMoreWalls/master/list.txt
        https://raw.githubusercontent.com/pojiezhiyuanjun/freev2/master/20200808.txt
        https://raw.githubusercontent.com/renyige1314/CLASH/main/CLASH
        https://raw.githubusercontent.com/resasanian/Mirza/main/ss
        https://raw.githubusercontent.com/resasanian/Mirza/main/sub
        https://raw.githubusercontent.com/ripaojiedian/freenode/main/sub
        https://raw.githubusercontent.com/rxsweet/proxies/main/sub/rx64.txt
        https://raw.githubusercontent.com/rxsweet/proxies/main/sub/sources/crawlTGnode.txt
        https://raw.githubusercontent.com/sami-soft/v2rayN_proxy/main/new1.txt
        https://raw.githubusercontent.com/sh3d0ww02f/sh3d0ww02f.github.io/main/ssr.config
        https://raw.githubusercontent.com/snakem982/proxypool/main/nodelist.txt
        https://raw.githubusercontent.com/soroushmirzaei/telegram-configs-collector/main/protocols/shadowsocks
        https://raw.githubusercontent.com/soroushmirzaei/telegram-configs-collector/main/splitted/mixed
        https://raw.githubusercontent.com/ssrsub/ssr/master/V2Ray
        https://raw.githubusercontent.com/ssrsub/ssr/master/ss-sub
        https://raw.githubusercontent.com/ssrsub/ssr/master/ssrsub
        https://raw.githubusercontent.com/ssrsub/ssr/master/trojan
        https://raw.githubusercontent.com/tjyu010/jiedian/main/21
        https://raw.githubusercontent.com/voken100g/AutoSSR/master/online
        https://raw.githubusercontent.com/voken100g/AutoSSR/master/recent
        https://raw.githubusercontent.com/vpei/free-node-1/main/o/proxies.txt
        https://raw.githubusercontent.com/vxiaov/free_proxy_ss/main/ss/sssub
        https://raw.githubusercontent.com/vxiaov/free_proxy_ss/main/ssr/ssrsub
        https://raw.githubusercontent.com/vxiaov/free_proxy_ss/main/v2ray/v2raysub
        https://raw.githubusercontent.com/w1770946466/Auto_proxy/main/Long_term_subscription1
        https://raw.githubusercontent.com/w1770946466/Auto_proxy/main/Long_term_subscription2
        https://raw.githubusercontent.com/w1770946466/Auto_proxy/main/Long_term_subscription3
        https://raw.githubusercontent.com/w1770946466/Auto_proxy/main/Long_term_subscription4
        https://raw.githubusercontent.com/w1770946466/Auto_proxy/main/Long_term_subscription5
        https://raw.githubusercontent.com/w1770946466/Auto_proxy/main/Long_term_subscription6
        https://raw.githubusercontent.com/w1770946466/Auto_proxy/main/Long_term_subscription7
        https://raw.githubusercontent.com/w1770946466/Auto_proxy/main/Long_term_subscription8
        https://raw.githubusercontent.com/w1770946466/Auto_proxy/main/Long_term_subscription_num
        https://raw.githubusercontent.com/webdao/v2ray/master/nodes.txt
        https://raw.githubusercontent.com/wrfree/free/main/v2
        https://raw.githubusercontent.com/xhmotor/V2rayn/main/v2rayn
        https://raw.githubusercontent.com/xiyaowong/freeFQ/main/v2ray
        https://raw.githubusercontent.com/yaney01/Yaney01/main/temporary
        https://raw.githubusercontent.com/yaney01/Yaney01/main/yaney_01
        https://raw.githubusercontent.com/yebekhe/TVC/main/subscriptions/xray/normal/mix
        https://raw.githubusercontent.com/yebekhe/TelegramV2rayCollector/main/sub/base64/mix
        https://raw.githubusercontent.com/zhlx2835/freefq/main/v2
        https://raw.githubusercontent.com/zjr13808836946/zjr_clash/main/V2_SSR_M
    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x

    - name: Install sing-box
      run: |
        export VERSION="1.8.14"
        export SINGBOX="sing-box_${VERSION}_linux_amd64v3.deb"
        curl -fsSLO https://github.com/SagerNet/sing-box/releases/download/v${VERSION}/${SINGBOX}
        sudo dpkg -i $SINGBOX
        sudo apt-get install -f
        
    - name: Restore dependencies
      run: dotnet restore

    - name: Run
      run: dotnet run --configuration Release --project ProxyCollector
